<?xml version="1.0" encoding="UTF-8"?><configuration><system.webServer><handlers accessPolicy="Read"/><security><requestFiltering><fileExtensions allowUnlisted="true"><add fileExtension=".php" allowed="false"/><add fileExtension=".phtml" allowed="false"/><add fileExtension=".config" allowed="false"/></fileExtensions></requestFiltering></security></system.webServer></configuration>
